@page "/dossierlicenciamento"
@using Identity.Components.Shared
@using Identity.InMemory
@using Microsoft.AspNetCore.Authorization
@using SharedKernel.DTO
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle> Dossier de Licenciamento </PageTitle>
<h3> Dossier de Licenciamento </h3>

<Card>
    <CardHeader>
        <h5> Cópia de cartão NIPC </h5>
    </CardHeader>
    <CardBody>
        <Grid @ref="CartoesNipcGrid" 
            TItem="FicheirosLicenciamentoDTO"
                Class="table table-hover table-bordered table-striped"
                DataProvider="CartaoNipcDataProvider"
                AllowPaging="true"
                PageSize="3"
                Responsive="true"
                EmptyText="Sem dados para apresentar">

        <GridColumns>
                <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Nome" PropertyName="Nome" SortKeySelector="item => item.Nome">
                    @context.Nome
                </GridColumn>
                <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Submetido" PropertyName="Submetido" SortKeySelector="item => item.Submetido">
                    @context.Nome
                </GridColumn>
                <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Observações" PropertyName="Observacoes" SortKeySelector="item => item.Observacoes">
                    @context.Observacoes
                </GridColumn>
        </GridColumns>
    </Grid>
    </CardBody>
</Card>
<Card>
    <CardHeader>
        <h5> Alvará de utilização </h5>
    </CardHeader>
    <CardBody>
        <Grid @ref="AlvarasGrid" 
            TItem="FicheirosLicenciamentoDTO"
                Class="table table-hover table-bordered table-striped"
                DataProvider="AlvarasDataProvider"
                AllowPaging="true"
                PageSize="3"
                Responsive="true"
                EmptyText="Sem dados para apresentar">

        <GridColumns>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Nome" PropertyName="Nome" SortKeySelector="item => item.Nome">
                @context.Nome
            </GridColumn>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Submetido" PropertyName="Submetido" SortKeySelector="item => item.Submetido">
                @context.Nome
            </GridColumn>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Observações" PropertyName="Observacoes" SortKeySelector="item => item.Observacoes">
                @context.Observacoes
            </GridColumn>
        </GridColumns>
    </Grid>
    </CardBody>
</Card>
<Card>
    <CardHeader>
        <h5> Medidas de Autoproteção (ANPC) </h5>
    </CardHeader>
    <CardBody>
        <Grid @ref="CartoesNipcGrid" 
            TItem="FicheirosLicenciamentoDTO"
                Class="table table-hover table-bordered table-striped"
                DataProvider="MedidasAnpcDataProvider"
                AllowPaging="true"
                PageSize="3"
                Responsive="true"
                EmptyText="Sem dados para apresentar">

        <GridColumns>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Nome" PropertyName="Nome" SortKeySelector="item => item.Nome">
                @context.Nome
            </GridColumn>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Submetido" PropertyName="Submetido" SortKeySelector="item => item.Submetido">
                @context.Nome
            </GridColumn>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Observações" PropertyName="Observacoes" SortKeySelector="item => item.Observacoes">
                @context.Observacoes
            </GridColumn>
        </GridColumns>
    </Grid>
    </CardBody>
</Card>
<Card>
    <CardHeader>
        <h5> Parecer ANPC </h5>
    </CardHeader>
    <CardBody>
        <Grid @ref="PareceresAnpcGrid" 
            TItem="FicheirosLicenciamentoDTO"
                Class="table table-hover table-bordered table-striped"
                DataProvider="PareceresAnpcDataProvider"
                AllowPaging="true"
                PageSize="3"
                Responsive="true"
                EmptyText="Sem dados para apresentar">

        <GridColumns>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Nome" PropertyName="Nome" SortKeySelector="item => item.Nome">
                @context.Nome
            </GridColumn>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Submetido" PropertyName="Submetido" SortKeySelector="item => item.Submetido">
                @context.Nome
            </GridColumn>
            <GridColumn TItem="FicheirosLicenciamentoDTO" HeaderText="Observações" PropertyName="Observacoes" SortKeySelector="item => item.Observacoes">
                @context.Observacoes
            </GridColumn>
        </GridColumns>
    </Grid>
    </CardBody>
</Card>