@page "/estabelecimentos/{Id:long}"
@using Microsoft.AspNetCore.Authorization
@using SharedKernel.DTO
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Estabelecimento</PageTitle>

<MudTabs EnableFadeEffect="true" Class="nav nav-pills nav-justified" @ref="Tabs">
    <MudTabPanel Text="Dados" Active="true">
       <EstabelecimentoForm Id="Id" />        
    </MudTabPanel>
    <MudTabPanel Text="Direção Clínica">
            <MudDataGrid T="DirecaoClinicaDTO"
                  @ref="DirecoesClinicasGrid"
                  ServerData="DirecoesClinicasDataProvider">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Adicionar</MudText>
                <MudButton Color="Color.Primary" OnClick="@AddDirecaoClinica">
                    <MudIcon Color="@Color.Primary" Icon="@Icons.Material.Filled.Add" />
                </MudButton>
            </ToolBarContent>
                <Columns>
                    <TemplateColumn T="DirecaoClinicaDTO">
                        <CellTemplate>
                            <MudButton Class="btn btn-dark" OnClick="() => EditarDirecaoClinica(context.Item.Id)" StartIcon="@Icons.Material.Filled.Edit"></MudButton>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Nome" Title="Nome"/>
                    <PropertyColumn Property="x => x.Cargo" Title="Cargo"/>
                    <PropertyColumn Property="x => x.Identificacao" Title="Identificação" />
                    <PropertyColumn Property="x => x.ValidadeIdentificacao" Title="Validade ID" />
                    <PropertyColumn Property="x => x.Cedula" Title="Cédula" />
                    <PropertyColumn Property="x => x.Ordem" Title="Ordem" />
                    <PropertyColumn Property="x => x.Especialidade" Title="Especialidade" />
                    <PropertyColumn Property="x => x.TipologiaNome" Title="Tipologia" />
                </Columns>
            </MudDataGrid>
    </MudTabPanel>
    <MudTabPanel Text="Dados Serviço">
            <div class="d-grid gap-2">
                <MudButton Class="btn btn-outline-dark" OnClick="AddServico" EndIcon="@Icons.Material.Filled.Add">Adicionar</MudButton>
            </div>
            <MudDataGrid T="ServicoDTO"
                  @ref="ServicosGrid"
                  Class="table table-hover table-bordered table-striped"
                  ServerData="ServicosDataProvider">
                <Columns>
                    <TemplateColumn T="ServicoDTO">
                        <CellTemplate>
                            <MudButton Class="btn btn-dark" OnClick="() => EditarServico(context.Item.Id)" StartIcon="@Icons.Material.Filled.Edit"></MudButton>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Nome" Title="Nome" />
                    <PropertyColumn Property="x => x.DataInicio" Title="Início" />
                    <PropertyColumn Property="x => x.Responsavel" Title="Responsável" />
                    <PropertyColumn Property="x => x.Tipologia" Title="Tipologia" />
                    <PropertyColumn Property="x => x.Horario" Title="Horário" />
                    <PropertyColumn Property="x => x.Observacoes" Title="Observações" />
                </Columns>
            </MudDataGrid>
        
    </MudTabPanel>
    <MudTabPanel Text="Certificados e Licenças">
         <EstabelecimentoCertificadosLicencas Id="Id" />
    </MudTabPanel>
</MudTabs>