@page "/estabelecimentos"
@using Identity.Components.Shared
@using Microsoft.AspNetCore.Authorization
@using SharedKernel.DTO
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Estabelecimentos</PageTitle>
<h3>Estabelecimentos <Button Type="ButtonType.Button" Color="ButtonColor.Dark" @onclick="AddEstabelecimento"><Icon Name="IconName.PlusSquare" /></Button></h3>

<Grid @ref="EstabelecimentosGrid" 
    TItem="EstabelecimentoDTO"
      Class="table table-hover table-bordered table-striped"
      DataProvider="EstabelecimentosDataProvider"
      FiltersTranslationProvider="GridFiltersTranslation.GridFiltersTranslationProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="10"
      Responsive="true"
      EmptyText="Sem dados para apresentar">

    <GridColumns>
        <GridColumn TItem="EstabelecimentoDTO" HeaderText="" PropertyName="Id" Filterable="false">
            <Button Class="btn btn-dark" Style="margin: 2px" @onclick="() => NavigateToDetails(context.Id)"><Icon Name="IconName.PencilSquare" /></Button>
            <Button Class="btn btn-dark" Style="margin: 2px" hidden="@IsEstabelecimentoSelected(context.Id)" @onclick="() => SeleccionaEstabelecimento(context.Id)"><Icon Name="IconName.Check" /></Button>
        </GridColumn>
        <GridColumn TItem="EstabelecimentoDTO" HeaderText="Sigla" PropertyName="Sigla" SortKeySelector="item => item.Sigla">
            @context.Sigla
        </GridColumn>
        <GridColumn TItem="EstabelecimentoDTO" HeaderText="Denominação" PropertyName="Denominacao" SortKeySelector="item => item.Denominacao">
            @context.Denominacao
        </GridColumn>
        <GridColumn TItem="EstabelecimentoDTO" HeaderText="Morada" PropertyName="Morada" SortKeySelector="item => item.Morada">
            @context.Morada
        </GridColumn>
        <GridColumn TItem="EstabelecimentoDTO" HeaderText="Email" PropertyName="Email" SortKeySelector="item => item.Email">
            @context.Email
        </GridColumn>
        <GridColumn TItem="EstabelecimentoDTO" HeaderText="Tipo Prestador" PropertyName="Tipo Prestador" SortKeySelector="item => item.TipoPrestador">
            @context.Email
        </GridColumn>
        <GridColumn TItem="EstabelecimentoDTO" HeaderText="Telefone" PropertyName="Telefone" SortKeySelector="item => item.Telefone">
            @context.Telefone
        </GridColumn>
    </GridColumns>
</Grid>