@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Identity.Abstractions
@using Microsoft.Identity.Web
@using System.Text.Json
@using weges_v2.SharedKernel.DTO
@rendermode InteractiveServer

@page "/entidades"

<PageTitle>Entidades</PageTitle>

<h3>Entidades</h3>

<TemplatedTable Items="Entidades" Context="entidade" TItem="EntidadeDTO" Titles="GridTitles">
    <TableHeader>
    </TableHeader>
    <RowTemplate>
        <td>
            <button class="btn btn-dark" @onclick="@(() => NavigateToDetails(entidade.Id))">Selecionar</button>
        </td>
        <td>@entidade.Sigla</td>
        <td>@entidade.Denominacao</td>
        <td>@entidade.NifNipc</td>
        <td>@entidade.Email</td>
    </RowTemplate>
</TemplatedTable>
